body {
	font-family: 'Lucida Grande', Helvetica, sans-serif;
}
main {
	width: 96%;
	max-width: 1200px;
	margin: auto;
	text-align: center;
	background-color: #f1f1f1;
	padding: 10px;
}
main h1 {
	margin: 0 0 10px;
}
main p {
	margin: 0 0 10px;
}
main *:last-child {
	margin-bottom: 0;
}